.env/
bpmnconstraints/
irpa-r1156-joint-master-thesi-sk.txt
openai-test.py
pip install openai.py
requirements.txt
sap_llm_commons-0.1.8-py3-none-any.whl
sap_llm_commons-0.3.0-py3-none-any.whl
SAP_LLM_test.py
SAP_LLM_test_REST.py
Signal_test.py
Signal_test_GPT.py
signavio-credentials.txt
SignavioAuthenticator.py
__pycache__/



